@import url('https://fonts.googleapis.com/css?family=Oswald');
@font-face {
    font-family: "AkzidenzGroteskBQB";
    src: url("../fts/AkzidenzGrotConBQ-Medium.woff") format('woff');
}

@font-face {
    font-family: "AkzidenzGroteskBQL";
    src: url("../fts/AkzidenzGrotConBQ-Light.woff") format('woff');
}

html, body {
    height: 100%;
    margin: 0;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    background-color: black;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

h2 {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.div_main {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: none;
    position: absolute;
}

.txt_titulo {
    font-size: 180%;
    text-align: center;
    position: relative;
    top: 50%;
    /* NOTE: CON EL TRANSFORM TERMINA DE CENTRAR EL OBJETO */
    /*transform: translateY(-50%);*/
}

.txt_regular {
    width: 100%;
    font-size: 200%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    margin: 10px;
}

.txt_situacion {
    width: 100%;
    font-size: 1.4rem;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    margin: 10px;
}

.div-pregunta {
    float: left;
    text-align: right;
    height: 200px;
    padding-right: 20px;
    flex: 3;
}

.div-respuesta {
    float: left;
    text-align: left;
    margin-top: 0;
    padding-left: 10px;
    font-size: 1.25rem;
    border-left: 4px solid red;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.opc_div {
    color: #d95350;
    height: 50px;
    padding: 10px;
}

.opc_div :hover {
    color: #c1c6c4;
    font-size: 1.45rem;
}

#txt_principal {
    font-family: 'AkzidenzGroteskBQL';
    font-size: 2.5em;
    width: 100%;
}

.img-rotate {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* TODO: HACER LOS RESPONSIVOS */

@media screen and (min-width: 480px) {
    .img-rotate {
        display: none;
    }
}
